extends layout

block content
    h1= `Author: ${author.firstName} ${author.familyName}`
    if author.dateOfDeath
        p.text-danger= `Author died on ${formatDate(author.dateOfDeath)} aged ${calculateAge(author.dateOfBirth, author.dateOfDeath)} years`
    else
        p.text-success= `Author born on ${formatDate(author.dateOfBirth)} and is currently ${calculateAge(author.dateOfBirth)} years old`
    div(style='margin-left:20px;margin-top:20px')
    h4 Books
    if books.length
        dl
            each book in books
                dt
                    a(href="/catalog/book/" + book.id)=book.title
                dd=book.summary
    else
        p This author has no books.
    hr
    p
        a(href="/catalog/author/" + author.id + "/delete" style="color: red;") Delete this author

