extends layout 

block content 
    h1= `${title}: ${author.firstName} ${author.familyName}`
    if author.dateOfDeath
        p.text-danger= `Author died on ${formatDate(author.dateOfDeath)} aged ${calculateAge(author.dateOfBirth, author.dateOfDeath)} years`
    else
        p.text-success= `Author born on ${formatDate(author.dateOfBirth)} and is currently ${calculateAge(author.dateOfBirth)} years old`
    if books.length 
        p #[strong Delete these books before deleting the author]
        div(style='margin-left:20px;margin-top:20px')
            h4 Books
            dl
                each book in books
                    dt
                        a(href=`/catalog/book/${book.id}`) #{book.title}
                    dd #{book.summary}
    else 
        p= `Are you sure you want to delete the author ${author.firstName} ${author.familyName}?`
        form(method="POST")
            .form-group 
                input#authorId.form-control(name="authorId" type="hidden", value=author.id)
                button.btn.btn-danger(type='submit') Delete Author
