extends layout

block content 
    h1=`ID: ${bookInstance.id}`

    p #[strong Title: ]
        a(href="/catalog/book/" + book.id)=book.title
    p #[strong Author: ]
        a(href="/catalog/author/" + author.id)=`${author.firstName} ${author.familyName}`
    p #[strong Status: ]
        if bookInstance.status=="AVAILABLE"
            span.text-success=bookInstance.status
        else if bookInstance.status=="MAINTENANCE"
            span.text-danger=bookInstance.status
        else
            span.text-warning=bookInstance.status
    if bookInstance.status!="AVAILABLE"
        p #[strong Due Back: ] #{formatDate(bookInstance.dueBack)}
    hr
    a(href="/catalog/bookinstance/" + bookInstance.id + "/delete" style="color: red;") Delete this book instance
    hr
    a(href="/catalog/bookinstance/" + bookInstance.id + "/update" style="color: green;") Update this book instance
